 

/* Add your profile image here */

/* Projects Photo */
.Photo{
    background-image: url('myProfile.jpg');
}
.project1{
    background-image: url('pastWorks/project1.PNG');
    cursor: none;    
}
.project2{
    background-image: url('pastWorks/project2.PNG');
    cursor: none;
}
.project3{
    background-image: url('pastWorks/project3.PNG');
    cursor: none;
}
.project4{
    background-image: url('pastWorks/project4.PNG');
    cursor: none;
}
.project5{
    background-image: url('pastWorks/project5.PNG');
    cursor: none;
}

/* Miscelaneous Activities photo */
.misc1{
    background-image: url('miscellaneous/mis1.PNG');
    cursor: none;
}
.misc2{
    background-image: url('miscellaneous/mis2.PNG');
    cursor: none;
}
.misc3{
    background-image: url('miscellaneous/mis3.PNG');
    cursor: none;
}
/* Contact form parallax effect image */
.parallax{
    background-image: url('https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
